/*****************************HTML TAG SELECTOR*****************************/
body {
    color: #40514E;
    font-family: 'Merriweather', serif;
    line-height: 2;
    margin: 0px;
    text-align: center;
}

h1 {
    color: #FFACB7;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 2;
    margin: 50px auto 0 auto;

}

h2 {
    color: #FFACB7;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 20px;
}

h3 {
    color: #6886C5;
    font-family: 'Montserrat', sans-serif;

}

hr {
    border-color: lightgray;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    margin: 100px auto 100px auto;
    width: 4%;
}

p {
    line-height: 2;
}

a {
    color: #6886C5;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #FFACB7;
}


/*****************************CLASS SELECTOR*****************************/
.top-container {
    background-color: #6886C5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: #F9F9F9;
    padding-top: 100px;
    padding-bottom: 100px;
}

.bottom-container {
    background-color: #E1E5EA;
    padding: 50px 0 20px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.btn {
    background: #B4C3E1;
    background-image: -webkit-linear-gradient(top, #B4C3E1, #1E62D0);
    background-image: -moz-linear-gradient(top, #B4C3E1, #1E62D0);
    background-image: -ms-linear-gradient(top, #B4C3E1, #1E62D0);
    background-image: -o-linear-gradient(top, #B4C3E1, #1E62D0);
    background-image: -webkit-gradient(to bottom, #B4C3E1, #1E62D0);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #FFACB7 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #B4C3E1);
    background-image: -moz-linear-gradient(top, #1E62D0, #B4C3E1);
    background-image: -ms-linear-gradient(top, #1E62D0, #B4C3E1);
    background-image: -o-linear-gradient(top, #1E62D0, #B4C3E1);
    background-image: -webkit-gradient(to bottom, #1E62D0, #B4C3E1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
 }

.contact-message {
    margin: 40px auto 60px;
    width: 30%;
}

.copyright {
    color: white;
    font-size: 0.75rem;
    padding: 20px 0 20px;
}



.intro {
    margin: auto;
    width: 30%;
}

.profile-pic {
    height: 128px;
}

.hobby-row {
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}

.hobby-1 {
    float: left;
    margin-right: 30px;
    width: 25%;
}

.hobby-2 {
    float: right;
    margin-left: 30px;
    width: 25%;
}

.skill-row {
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}

.skill-1 {
    float: left;
    margin-right: 30px;
    width: 25%;
}

.skill-2 {
    float: right;
    margin-left: 30px;
    width: 25%;
}

.top-cloud {
    position: absolute;
    right: 250px;
    top: 40px;
}


/*****************************ID SELECTOR*****************************/
#self-taught {
    text-decoration: underline;
}